<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name do %>
      Name <span class="required">*</span>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gender do %>
      Gender <span class="required">*</span>
    <% end %>
    <%= form.collection_select :gender, ['Male', 'Female', 'Other'], :to_s, :humanize, prompt: 'Select Gender' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
